@model IEnumerable<Xogum.ViewModels.Motorista.MotoristaExibicaoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertidaoCriminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crlv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoComCnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacaoVeiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertidaoCriminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crlv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoComCnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacaoVeiculo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
