@model IEnumerable<Xogum.ViewModels.Motorista.MotoristaExibicaoViewModel>

@{
    ViewBag.Title = "MotoristasStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-center">Motoristas Inativos</h2>
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                Opções
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>            
                <td>
                    @Html.ActionLink("Detalhes", "ValidarMotoristas", new { id = item.Id }) 
                </td>
            </tr>
        }

    </table>
</div>