@model Xogum.ViewModels.Motorista.MotoristaExibicaoViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center">Verificação de Cadastro de Motoristas</h2>
    <br />

    @using (Html.BeginForm("ValidarMotorista", "Motoristas"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Locais de Verificação de Autenticidade de Documentação</h4>
            <ul>
                <li>Para verificar a validade de uma CNH clique <a href="https://www.detran.sp.gov.br/wps/portal/portaldetran/cidadao/habilitacao/servicos/autenticacaoCNH/!ut/p/z1/pZHLDoIwEEU_qXdoo-2yIsijxIgi2I1hZZooujB-v8DORCvG2U1zznRyh1nWMNu1D3dq7-7atee-P9jZUZCKiEIU0lQEHZeGRCIDgFg9AlxgqxakAZ5IaFnuEm1AEILZf3zMf_RltI8Hn8cUrQPkmOZnG4RJ_2JWtAyhlRBFmuUcik_z8aH0xP89gPWPr5kdEd8FvMAQ8SvwJsMR8IX0bc3bpRqqgUvdExx8jAQ!/dz/d5/L2dBISEvZ0FBIS9nQSEh/p0/IZ7_419E11C0M8LU10AFRL14H820O2=CZ6_419E11C0M8LU10AFRL14H82001=LA0=Ejavax.servlet.include.path_info!QCPpagesQCPautenticacaoCNHQCPmenuView.xhtml==/#Z7_419E11C0M8LU10AFRL14H820O2" target="_blank">AQUI</a></li>
                <li>Para consultar alguma pendencia ou irregularidade do veículo clique <a href="https://www.ipva.fazenda.sp.gov.br/IPVANET_Consulta/Consulta.aspx" target="_blank">AQUI</a></li>
            </ul>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <h3 class="text-center espaco-baixo">Informações do Motorista</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.usuario.Nome, htmlAttributes: new { @class = "control-label col-md-2 " })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usuario.Nome, new { htmlAttributes = new { @class = "form-control",
                           disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.usuario.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.usuario.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usuario.Cpf, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.usuario.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.usuario.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2 " })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.usuario.DataNascimento, new { htmlAttributes = new { @class = "form-control",
                           disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.usuario.DataNascimento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var item in Model.Veiculos)
                        {

                            <div class="form-group">
                                @Html.LabelFor(model => item.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 zoom">
                                    <img class="img-responsive" src="~/Uploads/@Model.usuario.Foto" />
                                    @Html.ValidationMessageFor(model => item.Foto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CertidaoCriminal, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 zoom">
                                <img class="img-responsive" src="~/Uploads/@Model.CertidaoCriminal" />
                                @Html.ValidationMessageFor(model => model.CertidaoCriminal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cnh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 zoom">
                            <img class="img-responsive" src="~/Uploads/@Model.Cnh" />
                            @Html.ValidationMessageFor(model => model.Cnh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FotoComCnh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 zoom">
                            <img class="img-responsive" src="~/Uploads/@Model.FotoComCnh" />
                            @Html.ValidationMessageFor(model => model.FotoComCnh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-center espaco-baixo">Informações do Veiculo</h3>

            <div class="row col-md-offset-2">
                <div class="col-md-3">
                    @foreach (var item in Model.Veiculos)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => item.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => item.Placa, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => item.Placa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    @foreach (var item in Model.Veiculos)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => item.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => item.Modelo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => item.Modelo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3">
                    @foreach (var item in Model.Veiculos)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => item.Cor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => item.Cor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => item.Cor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-lg-offset-3 text-center">
                    @foreach (var item in Model.Veiculos)
                    {@Html.LabelFor(model => item.Crlv, htmlAttributes: new { @class = "control-label" })
                    <div class="form-group">

                        <div class="col-md-10 zoom">
                            <img class="img-responsive" src="~/Uploads/@item.Crlv" />
                            @Html.ValidationMessageFor(model => item.Crlv, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                </div>


            </div>



            <div class="row text-center espaco">
                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" name="button" value="aceitar" class="btn btn-success">Confirmar Motorista</button>
                    </div>
                    <div class="col-md-6">
                        <input type="button" value="Recusar Motorista" class="btn btn-danger" onclick="Mudarestado('minhaDiv')" />

                    </div>
                </div>
            </div>
        </div>


    }
    @using (Html.BeginForm("Resposta", "Motoristas", FormMethod.Post))
    {
        <div id="minhaDiv" class="text-center" style="display:none" ;>
            <h4>Motivo da Recusa do Cadastro</h4>
            <div class="container">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Destinatário:</h5>
                            <input name="email" class="form-control" type="text" value="@Model.usuario.Email" />
                        </div>
                        <div class="col-md-6">
                            <h5>Assunto:</h5>
                            <input name="assunto" value="Xogum Fretes - Documentação Recusada" type="text" class="form-control" />
                        </div>

                        <div class="col-md-12 espaco">
                            <h5>Mensagem:</h5>
                            <textarea name="mensagem"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center espaco-baixo">
                            <button type="submit" class="btn btn-primary ">
                                <i class="fa fa-send"></i> Enviar e-mail
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

    <script type="text/javascript">
        function Mudarestado() {
            document.getElementById("minhaDiv").style.display = "block";
        }
    </script>



</div>
