
@{
    ViewBag.Title = "HomeAdministrador";
    Layout = "~/Views/Shared/_LayoutSystemPage.cshtml";
}

<div class="container">
    <h2 class="text-center">Área de Usuários</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Index","Usuarios")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Cadastro Geral</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("MotoristasStatus","Motoristas")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Motoristas Aprovados</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Index","Veiculoes")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Veiculos Aprovação</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <h2 class="text-center">Área de Usuários</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Index","Usuarios")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Cadastro Geral</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("MotoristasStatus","Motoristas")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Motoristas Aprovação</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Index","Veiculoes")">
                <div class="card col-md-offset-2" style="width: 18rem;">
                    <img src="~/Content/Imagens/cad-geral.png" class="card-img-top img-responsive" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center legendas">Veiculos Aprovação</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

