@model Xogum.Dominio.Veiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motorista.Cnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorista.Cnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crlv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crlv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renavan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renavan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chassi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
